<!--
  REPLAN
  we can generate the form at build time, using HB
  that will give us something a *lot* simpler since we avoid
  having two levels of NG generation interfering at the same time
  <form ng-include='/couth/forms/$type.html'></form>
  it also gives us a lot more flexibility to customise things
-->


<!-- 
  TODO
  for now we just generate assuming .form-horizontal, but in future we can detect what
  kind of form it is on the form element and switch the templates to match
  add labels and all
-->
<fieldset>
  <legend>{{$couthForm.description}}</legend>
  <div ng-repeat='field in $couthForm.fields' ng-include="'/couth-forms/' + field.type + '.part'"
       ng-class='field.type != "hidden" &amp;&amp; "control-group" || false'></div>
  <div class='control-group'>
    <div class='controls'>
      <button type='reset' class='btn btn-danger'>Reset</button>
      <button type='submit' class='btn btn-success'>Save</button>
    </div>
  </div>
  <pre>
{{ $couthInstance | json }}
  </pre>
</fieldset>

<script type='text/ng-template' id='/couth-forms/hidden.part'>
  <input type='hidden' ng-model='$parent[field.name]' name='{{field.name}}'
         id='{{$couthType}}.{{field.path}}' required='{{field.required}}'>
</script>

<!-- 
// ng-change is bad since it's one-way
// better to have something like $couthInstance on root and use path with ng-model
// this needs s/$root/$couthInstance/ and path that has proper [n]
-->
<script type='text/ng-template' id='/couth-forms/string.part'>
  <label class='control-label' for='{{$couthType}}.{{field.path}}'>{{field.description}}</label>
  <div class='controls'>
    <input type='text' ng-model='$couthInstance[field.path]' value=''
           id='{{$couthType}}.{{field.path}}' required='{{field.required}}'
           pattern='{{field.pattern}}' maxlength='{{field.maxLength}}'>
  </div>
</script>

<!-- this could perhaps be a range -->
<script type='text/ng-template' id='/couth-forms/number.part'>
  <label class='control-label' for='{{$couthType}}.{{field.path}}'>{{field.description}}</label>
  <div class='controls'>
    <input type='number' ng-model='$parent[field.name]' name='{{field.name}}'
           id='{{$couthType}}.{{field.path}}' required='{{field.required}}'
           min='{{field.min}}' max='{{field.max}}'>
  </div>
</script>

<script type='text/ng-template' id='/couth-forms/boolean.part'>
  <label class='control-label' for='{{$couthType}}.{{field.path}}'>{{field.description}}</label>
  <div class='controls'>
    <input type='radio' value='true' ng-model='$parent[field.name]' name='{{field.name}}' id='{{$couthType}}.{{field.path}}.true' required='{{field.required}}'> on
    <input type='radio' value='false' ng-model='$parent[field.name]' name='{{field.name}}' id='{{$couthType}}.{{field.path}}.false' required='{{field.required}}'> off
  </div>
</script>

<script type='text/ng-template' id='/couth-forms/object.part'>
  <fieldset>
    <legend>{{field.description}}</legend>
    <div ng-repeat='field in field.fields' ng-include="'/couth-forms/' + field.type + '.part'"></div>
  </fieldset>
</script>

<!--
  this requires some improvements, notably to properly enable the switching
  we can't reuse the description for a switch label, instead we should try to place
  the radio somehow close to the label of each unioned schema
-->
<script type='text/ng-template' id='/couth-forms/union.part'>
  <fieldset ng-repeat='field in field.fields'>
    <input type='radio' name='couth-type-union' id='{{$couthType}}.{{field.path}}' required>
    <div ng-include="'/couth-forms/' + field.type + '.part'"></div>
  </fieldset>
</script>

<!--
  add the proper wrapper with legend and all
  add whatever is needed to map to offsets properly in the sub-fieldsets
  make sure that "item" is a workable name for instance data
  add:
    - plus for addition (takes max into account)
    - del for removal (takes min into account)
    - reorder handle
-->
<script type='text/ng-template' id='/couth-forms/array.part'>
  <fieldset ng-form>
    <legend>{{field.description}}</legend>
    <fieldset ng-repeat='item in $couthPath(field.path)'>
      <div ng-include="'/couth-forms/object.part'"></div>
    </fieldset>
    <fieldset class='couth-item-add'>
      <div ng-include="'/couth-forms/object.part'"></div>
    </fieldset>
  </fieldset>
</script>

<script type='text/ng-template' id='/couth-forms/enum.part'>
  <label class='control-label' for='{{$couthType}}.{{field.path}}'>{{field.description}}</label>
  <div class='controls'>
    <select ng-model='$parent[field.name]' name='{{field.name}}' id='{{$couthType}}.{{field.path}}' required='{{field.required}}'>
      <option ng-repeat='val in field.values'>{{val}}</option>
    </select>
  </div>
</script>
