
<div>
  <h2>Specs</h2>
  <div ng-include="'/couth/forms/specs.html'"></div>
  <table class='table table-striped table-hover'>
    <tr>
      <th>Key</th>
      <th>Sources</th>
      <th ng-show='$couthUser.name'>Actions</th>
    </tr>
    <tr ng-repeat='spec in specs'>
      <td>{{ spec.shortName }}</td>
      <td>
        <ul>
          <li ng-repeat='src in spec.sources'>
            <a href='{{src.url}}' target='_new'>{{src.url}}</a>
            <span class='label'>{{src.type}}</span>
          </li>
        </ul>
      </td>
      <td ng-show='$couthUser.name'>
        <button type='button' class='btn btn-mini' ng-click='$emit("couth:edit", spec)'>Edit</button>
        <button type='button' class='btn btn-mini btn-danger' ng-click='$emit("couth:delete", spec)' ng-show='$couthUser.isAdmin'>&times;</button>
      </td>
    </tr>
  </table>
</div>
