
<div>
  <h2>Specs</h2>
  <div ng-include="'/couth/forms/spec.html'"></div>
  <table class='table table-striped table-hover'>
    <tr>
      <th>Key</th>
      <th>Sources</th>
    </tr>
    <tr ng-repeat='spec in specs'>
      <td>{{ spec.shortName }}</td>
      <td>
        <ul>
          <li ng-repeat='src in spec.sources'>
            <a href='{{src.url}}' target='_new'>{{src.url}}</a>
            <span class='label'>{{src.type}}</span>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
